{% extends "layout.html" %}

  {% block content %}

  <!-- Wrap all page content here -->
  <div id="interactions-wrapper">

    <!-- Day + Add Day buttons -->
    <div class="selection day-buttons">
      <div class="btn-group">
        <!-- <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Day<span class="caret"></span></button> -->
        <!-- <ul class="dropdown-menu day-dropdown" role="menu">
          <li><a href='#'>1</a></li>
          <li><option>1</option></li>
        </ul> -->
        <select class="form-control day-dropdown">
          <option value="">Day</option>
          <option>1</option>
        </select>
      </div>

      <!-- Add day button -->
       <button type="button" class="btn btn-default" id="add-day-button">+ Add Day</button>
    </div>

    <div id="selections-wrapper">

       <!-- Hotel selection -->
      <div class = "col-lg-3 selection">
          <label class="selection-headers" id="hotel-header"><h4>Hotels</h4></label>
          <select class="form-control selection-elements hotels-select">
            <option value="">Select</option>
          </select>

          <button class="btn btn-primary selection-elements add-hotels">Add</button>
       </div>

       <!-- Things selection -->
      <div class = "col-lg-3 selection">
          <label class="selection-headers" id="things-header"><h4>Things to do</h4></label>
            <select class="form-control selection-elements things-select">
              <option value="">Select</option>
            </select>

          <button class="btn btn-primary selection-elements add-things">Add</button>
      </div>

      <!-- Restaurants selection -->
      <div class = "col-lg-3 selection">
          <label class="selection-headers" id="restaurants-header"><h4>Restaurants</h4></label>
          <select class="form-control selection-elements restaurants-select">
            <option value="">Select</option>
          </select>

          <button class="btn btn-primary selection-elements add-restaurants">Add</button>
      </div>

    </div>
    <!-- Close selections wrapper -->

  </div>
  <!-- End wrapping of user interactions -->

  <!-- Day Info -->
  <div id="day-info">
    <h4>Plan for Day <span id="current-day">1</span></h4>
    <ul>
      <li><h5>Hotel</h5></li>
        <ul id="hotels-today" class="attractions">

        </ul>
      <li><h5>Things to Do</h5></li>
        <ul id="things-today" class="attractions">

        </ul>
      <li><h5>Restaurants</h5></li>
        <ul id="restaurants-today" class="attractions">

        </ul>
    </ul>
  </div>

    <!-- Script block -->
    <script>
    {% autoescape false %}

      // Google Maps function
      function initialize_gmaps() {

        //  initialize new gmaps [lat,lng] object
        var coords = new google.maps.LatLng();
      }

      // POPULATE SELECTION LISTS
      var all_hotels = {{ hotels | json }};
      var all_restaurants = {{ restaurants | json }};
      var all_things_to_do = {{ things | json }};

      all_hotels.forEach(function(h) {
        $(".hotels-select").append("<option>" + h.name + "</option>");
      });

      all_things_to_do.forEach(function(t) {
        $(".things-select").append("<option>" + t.name + "</option>");
      });

      all_restaurants.forEach(function(r) {
        $(".restaurants-select").append("<option>" + r.name + "</option>");
      });
      /////////////////////////////////

      /* jQuery **********************************/

      // day_dropdown needed to increment days list
      // var day_dropdown = $(".dropdown-menu");
      var day_dropdown = $(".day-dropdown");

      // For each day, have an array of day-infos
      var day_info = [];
      var num_days;



        // Adding days and creating array of data_info objects
        $(document).ready(function() {
        /* function for getting the number of days which is equal to the number of list items */
        num_days = function() {
          return day_dropdown.children().length-1;
        };

        /* Push the first day into the array */
        var day = {
            id: num_days(),
            hotels: [],
            things: [],
            restaurants: []
          };

        day_info.push(day);
        /************************************/

        /* When the 'Add Day' button is clicked, add a new day, create a new day object, and push it into the day_nfo array */
        $("#add-day-button").click(function() {

        /* Using add day dropdown ***************************/
        day_dropdown.append("<option>"+(num_days()+1)+"</option>");

        day = {
          id: num_days(),
          hotels: [],
          things: [],
          restaurants: []
        };

        day_info.push(day);
        /****************************************************/

        });
      });

      /* Adding selected hotels, things, and restaurants to the day_info object */
      $(".add-hotels").click(function() {
        var selected = $(".hotels-select option:selected").text();

        if(already_contains(current_day_object().hotels, selected) == false) {
          current_day_object().hotels.push(selected);
          refresh_plans();
          render_added();
        }
      });

      $(".add-things").click(function() {
        var selected = $(".things-select option:selected").text();

        if(already_contains(current_day_object().things, selected) == false) {
          current_day_object().things.push(selected);
          refresh_plans();
          render_added();
        }
      });

      $(".add-restaurants").click(function() {
        var selected = $(".restaurants-select option:selected").text();

        if(already_contains(current_day_object().restaurants, selected) == false) {
          current_day_object().restaurants.push(selected);
          refresh_plans();
          render_added();
        }
      });

      // TODO: function to check if the hotel/thing/restaurant is already stored -> no duplicates?
      /*******************************************************/

      /* Render day info when day is selected ***************/
        var current_day = function() {
          return parseInt($(".day-dropdown option:selected").text());
        };

        // Dynamically render added stuff when add buttons are clicked
        // TODO: fix repitions
        var render_added = function() {
          current_day_object().hotels.forEach(function(hotel) {
            $("#hotels-today").append("<li>"+hotel+"</li>");
          });
          current_day_object().things.forEach(function(thing) {
            $("#things-today").append("<li>"+thing+"</li>");
          });
          current_day_object().restaurants.forEach(function(restaurant) {
            $("#restaurants-today").append("<li>"+restaurant+"</li>");
          });
        };

        // Functions returns boolean value checking if hotels/things/restaurants ul already contains an item
        var already_contains = function(list, something) {
          var already_contains_item;
          var already_contains_item = false;

          if(list.length === 0) {
            return already_contains_item;
          }
          else {
            for(var item in list) {
              // ul is an array of items enclosed in li tags
              // ex. <li>Smyth Tribeca</li>
              // item and something must be strings
              if(list[item] == something)
                already_contains_item = true;
              else
                already_contains_item = false;

              if(already_contains_item == true)
                break;
            }

            return already_contains_item;
          }
        };

        // Function to refresh today's plans by clearing child nodes
        var refresh_plans = function() {
          $("#hotels-today").empty();
          $("#things-today").empty();
          $("#restaurants-today").empty();
        };

        // Renders the day info day number
        day_dropdown.change(function() {
          $("#current-day").text(current_day().toString());

          // TODO: Reset the day select to 'Day' after a day is selected
        });

        // select the appropriate day object
        var current_day_object = function() {
          for(var index in day_info) {
            if(day_info[index].id === current_day())
              return day_info[index];
          }
        };
      /*****************************************************/

      /*****************************************************/

      /* END of document.ready *******************/
      /* END of jQuery ***************************/

    {% endautoescape %}
    </script>

  {% endblock %}

<!-- NOTES -->
<!--
1. When inline-blocking elements, make sure that they are not in divs, else apply the inline-block property to the divs or remove the divs
2. In order for the number of days on the menu not to be reset, you store information on the database or in local storage.
 -->