* {
  max-width: 100%;
}

/* NAVBAR */
.container {
  margin-left: 25px;
  margin-right: 25px;
}

.navbar-brand {
  display: inline-block;
}

/* GENERAL/BODY */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* USEER INTERACTIONS/SELECTIONS */
#interactions-wrapper {
  margin: 25px 25px 25px 0px;
  display: block;
}


/* DAY BUTTONS*/
.btn {
  margin: 5px 5px;
}

.day-buttons {
  display: inline-block;
  position: relative;
  bottom: 35px;
  padding-right: 15px;
  max-width: 25%;
}

#add-day-button {
  color: #000;
  background-color: #FFF;
}

/* HOME PAGE SELECTION DROPDOWNS */
.selection-headers {
  display: block;
}

/* buttons and dropdown */
.selection {
  display: inline-block;
  width: 30%;
}

.selection-elements {
  display: inline-block;
}

.form-control {
  width: 75%;
}

.day-dropdown {
  width: 125%;
}

#selections-wrapper {
  margin-bottom: 15px;
 /* float: right;*/
 display: inline-block;
}

/* Day Info */
#day-info {
  display: block;
}

#day-plan {
  display: inline-block;
}

.attractions {
  list-style: none;
  padding-left: 0;
}

/* FOOTER */
#footer {
  margin-top: 25px;
}

/* GMAPS */
#map-canvas {
  min-height: 66%;
  min-width: 50%;
  top: 210px;
  right: 230px;
  position: absolute;
}





/*.item  div {
  display: inline;
}*/

/*.item div button {
 width : 40%;
 margin :0 5%;
 float :right;
}*/

/*.form-control{
 display: inline;
 width: 45%;
}*/

/*.item {
 width: 14%;
 height: 30px;
 display: inline;
 float: right;
 margin:1%;
 padding: 0;
}*/

/*#page_control_panel {
  float:right;
}



#disambiguation_list li {
  display: block;
  padding: 14px;
}

#disambiguation_list li:hover {
  background-color: #ddd;
}

#disambiguation_list .excerpt_title {
  font: bold 20px arial,sans-serif;
}

#disambiguation_list .excerpt_text {
  color: #555;
  font: normal 14px arial,sans-serif;
}